<h1>Welcome <%= @user.email %></h1>
<br>
<h3><%= link_to "My Clients", user_clients_path(@user) %></h3>
<br>
<h3><%= link_to "My Schedule", user_schedules_path(@user) %></h3>
<br>
<h3><%= link_to "Gyms List", gym_lists_path %></h3>
<br>
<h1>Best of the month <%= @trainer.email %></h1>
<h1>He has <%= @total_clients %> clients</h1>
