<% if !@user.has_clients%>

<section>

  <h2>You currently do not have any clients</h2>
  <p>Click Add Client to add new one!</p>
  <h4>
    <%= link_to 'Add Client', new_user_client_path(@user)%>
  </h4>
  <br>

</section>

<% else %>

<section>
  <h2>Your Clients!</h2>
  <h4>
    <%= link_to 'New Client', new_user_client_path(@user)%>
  </h4>

  <br>

  <nav>
    <ul>
      <% @clients.each do |client|%>
        <li>
          <h3>
            <%= link_to client.name, user_client_path(@user, client) %>
          </h3>

          <p> Name: <%= client.name %> </p>
          <p> Gender: <%= client.gender %> </p>
          <p> Age: <%= client.age %> </p>
          <p> Weight: <%= client.weight %> </p>
          <p> Height: <%= client.height %> </p>
        </li>
      <% end %>
    </ul>
  </nav>

</section>
<% end %>
