<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">

    <title>Personal Manager</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <main>

      <nav>
        <%= render 'devise/menu/welcome_items' %>
      </nav>

      <header>
        <h1>Personal Manager</h1>
        <h3>Your daily personal assistant</h3>
      </header>

      <aside>
        <h5><%= notice %></h5>
        <h5><%= alert %></h5>
      </aside>

    </main>



    <%= yield %>
    <footer>
      <p>Personal Manager, Copyright ©2019 All rights reserved</p>
    </footer>
  </body>
</html>
